input.form-control:focus {
    background: #111;
}
textarea.form-control:focus {
    background: #111;
}
div.niches_container {
    overflow: hidden;
}
button.niche {
    height: 40px;
    border: 0px;
    padding: 10px;
    outline: none;
    margin-right: 10px;
    color: white;
    background: #333;
    font-weight: bold;
}
button.niche:hover {
    background: #444;
}